pipeline/VMStart_with_secret_v2.json
{
	"name": "VMStart_with_secret_v2",
	"properties": {
		"activities": [
			{
				"name": "run command",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "getSASToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetContainerURL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Start Azure VM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
						"type": "Expression"
					},
					"method": "POST",
					"body": "{\"commandId\":\"RunShellScript\",\n\"parameters\":[{\"name\":\"containerURL\",\"value\":\"@activity('GetContainerURL').output.value\"},{\"name\":\"SASToken\",\"value\":\"@activity('getSASToken').output.value\"}],\n\"script\":[\"\ncat > /home/victorbnnt/load_secrets.sh<<- EOM\n#! /bin/sh\nexport BEARER_TOKEN=$(curl -H Metadata:true --noproxy '*' 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://vault.azure.net' | jq '.[\\\"access_token\\\"]' | sed 's/\\\"//g')\nexport CONTAINER_URL=$(curl -s 'https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3' -H 'Authorization: Bearer $BEARER_TOKEN' | jq '.[\\\"value\\\"]' | sed 's/\\\"//g')\nexport SAS_TOKEN=\\\"$(curl -s 'https://keyvaultgreathouse.vault.azure.net/secrets/SAS2/5ac01cffa1804e8e9453a9d5c70bf062?api-version=7.3' -H 'Authorization: Bearer $BEARER_TOKEN' | jq '.[\\\"value\\\"]' | sed 's/\\\"//g')\\\"\nEOM\n&& source /home/victorbnnt/load_secrets.sh\n\"]}",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "getSASToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/SAS1/dc83cc04ecd74216a2f13960871f7387?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetContainerURL",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Start Azure VM",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"VM": "start"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "databricks-victor-bonnet"
			},
			"Region": {
				"type": "string",
				"defaultValue": "eastus"
			},
			"VMName": {
				"type": "string",
				"defaultValue": "premarket"
			},
			"Command": {
				"type": "string",
				"defaultValue": "Start"
			}
		},
		"annotations": []
	}
}