pipeline/VMStart_with_secret.json
{
	"name": "VMStart_with_secret",
	"properties": {
		"activities": [
			{
				"name": "run command",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StartVM_IF_needed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"commandId": "RunShellScript",
						"parameters": [
							{
								"name": "containerURL",
								"value": "@variables('containerURL')"
							},
							{
								"name": "SASToken",
								"value": "@variables('SASToken')"
							},
							{
								"name": "containerURL",
								"value": "@variables('storageAccess')[0]"
							}
						],
						"script": [
							"echo $SASToken> /home/victorbnnt/SASToken.txt"
						]
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "StartVM_IF_needed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "checkVMstatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('checkVMstatus').output.statuses[1].displayStatus,'VM deallocated')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Start Azure VM",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"VM": "Start"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "checkVMstatus",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "setSASToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2022-03-01') ",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "setSASToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getSASToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SASToken",
					"value": {
						"value": "@activity('getSASToken').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getSASToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/storageaccountfullaccessSAS/f1d75bd8745e41fa8110e7aa2b40c77a?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "databricks-victor-bonnet"
			},
			"Region": {
				"type": "string",
				"defaultValue": "eastus"
			},
			"VMName": {
				"type": "string",
				"defaultValue": "premarket"
			},
			"Command": {
				"type": "string",
				"defaultValue": "Start"
			}
		},
		"variables": {
			"containerURL": {
				"type": "String",
				"defaultValue": "0"
			},
			"SASToken": {
				"type": "String",
				"defaultValue": "0"
			},
			"storageAccess": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}