pipeline/VMStart_with_secret.json
{
	"name": "VMStart_with_secret",
	"properties": {
		"activities": [
			{
				"name": "GetStorageAccountURL",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/storageAccountURL/a94f9011d7f542ca8f72c1eb0db5c319?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "setStorageAccountURL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetStorageAccountURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "storageAccountURL",
					"value": {
						"value": "@activity('GetStorageAccountURL').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "run command",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StartVM_IF_needed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
						"type": "Expression"
					},
					"method": "POST",
					"body": "{\"commandId\":\"RunShellScript\",\n \"parameters\": [\n    {\n      \"name\": \"storageAccountURL\",\n      \"value\": \"@variables('storageAccountURL')\"\n    },\n    {\n      \"name\": \"containerURL\",\n      \"value\": \"@variables('containerURL')\"\n    },\n    {\n      \"name\": \"SASToken\",\n      \"value\": \"@variables('SASToken')\"\n    }\n  ],\n \"script\":[\"echo $storageAccountURL > /home/victorbnnt/storageAccountURL.txt\", \" && \",\n                echo $containerURL> /home/victorbnnt/containerURL.txt\", \" && \" ,\n                echo $SASToken> /home/victorbnnt/SASToken.txt\"]}",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "StartVM_IF_needed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "checkVMstatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('checkVMstatus').output.statuses[1].displayStatus,'VM deallocated')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Start Azure VM",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"VM": "Start"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "checkVMstatus",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "setStorageAccountURL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetContainerURL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setSASToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2022-03-01') ",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "SetContainerURL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetContainerURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "containerURL",
					"value": {
						"value": "@activity('GetContainerURL').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setSASToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSASToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SASToken",
					"value": {
						"value": "@activity('GetSASToken').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetContainerURL",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetSASToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultgreathouse.vault.azure.net/secrets/storageaccountfullaccessSAS/f1d75bd8745e41fa8110e7aa2b40c77a?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "databricks-victor-bonnet"
			},
			"Region": {
				"type": "string",
				"defaultValue": "eastus"
			},
			"VMName": {
				"type": "string",
				"defaultValue": "premarket"
			},
			"Command": {
				"type": "string",
				"defaultValue": "Start"
			}
		},
		"variables": {
			"storageAccountURL": {
				"type": "String",
				"defaultValue": "0"
			},
			"containerURL": {
				"type": "String",
				"defaultValue": "0"
			},
			"SASToken": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}