datafactory-vbnnt/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory-vbnnt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VMStart_with_secret')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run command",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "getSASToken",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetContainerURL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Start Azure VM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"commandId": "RunShellScript",
								"parameters": [
									{
										"name": "containerURL",
										"value": "@activity('GetContainerURL').output.value"
									},
									{
										"name": "SASToken",
										"value": "@activity('getSASToken').output.value"
									}
								],
								"script": [
									"echo $SASToken > /home/victorbnnt/SASToken.txt && echo $containerURL> /home/victorbnnt/containerURL.txt && declare -x zzzz='vraiment'"
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "getSASToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/SAS1/dc83cc04ecd74216a2f13960871f7387?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetContainerURL",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Start Azure VM",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"VM": "start"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "databricks-victor-bonnet"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "premarket"
					},
					"Command": {
						"type": "string",
						"defaultValue": "Start"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VMStart_with_secret_old')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run command",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "StartVM_IF_needed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "getSASToken",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetContainerURL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"commandId": "RunShellScript",
								"parameters": [
									{
										"name": "containerURL",
										"value": "@activity('GetContainerURL').output.value"
									},
									{
										"name": "SASToken",
										"value": "@activity('getSASToken').output.value"
									}
								],
								"script": [
									"echo $SASToken > /home/victorbnnt/SASToken.txt && echo $containerURL> /home/victorbnnt/containerURL.txt"
								]
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "StartVM_IF_needed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "checkVMstatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('checkVMstatus').output.statuses[1].displayStatus,'VM deallocated')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Start Azure VM",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"VM": "Start"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							]
						}
					},
					{
						"name": "checkVMstatus",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2022-03-01') ",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "getSASToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/SAS1/dc83cc04ecd74216a2f13960871f7387?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetContainerURL",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "databricks-victor-bonnet"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "premarket"
					},
					"Command": {
						"type": "string",
						"defaultValue": "Start"
					}
				},
				"variables": {
					"containerURL": {
						"type": "String",
						"defaultValue": "0"
					},
					"SASToken": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VMStart_with_secret_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run command",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "getSASToken",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetContainerURL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Start Azure VM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/runCommand?api-version=2021-07-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": "{\"commandId\":\"RunShellScript\",\n\"parameters\":[{\"name\":\"containerURL\",\"value\":\"@activity('GetContainerURL').output.value\"},{\"name\":\"SASToken\",\"value\":\"@activity('getSASToken').output.value\"}],\n\"script\":[\"\ncat > /home/victorbnnt/load_secrets.sh<<- EOM\n#! /bin/sh\nexport BEARER_TOKEN=$(curl -H Metadata:true --noproxy '*' 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://vault.azure.net' | jq '.[\\\"access_token\\\"]' | sed 's/\\\"//g')\nexport CONTAINER_URL=$(curl -s 'https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3' -H 'Authorization: Bearer $BEARER_TOKEN' | jq '.[\\\"value\\\"]' | sed 's/\\\"//g')\nexport SAS_TOKEN=\\\"$(curl -s 'https://keyvaultgreathouse.vault.azure.net/secrets/SAS2/5ac01cffa1804e8e9453a9d5c70bf062?api-version=7.3' -H 'Authorization: Bearer $BEARER_TOKEN' | jq '.[\\\"value\\\"]' | sed 's/\\\"//g')\\\"\nEOM\n&& source /home/victorbnnt/load_secrets.sh\n\"]}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "getSASToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/SAS1/dc83cc04ecd74216a2f13960871f7387?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetContainerURL",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyvaultgreathouse.vault.azure.net/secrets/workContainerUrl/f992a0d61c984fa9ac54780b957802d9?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Start Azure VM",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"VM": "start"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "databricks-victor-bonnet"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "premarket"
					},
					"Command": {
						"type": "string",
						"defaultValue": "Start"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VMStop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stop Azure VM",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01') ",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"VM": "Stop"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "3214e416-9a48-4db7-9745-1841230b18a4"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "databricks-victor-bonnet"
					},
					"Region": {
						"type": "string",
						"defaultValue": "eastus"
					},
					"VMName": {
						"type": "string",
						"defaultValue": "premarket"
					},
					"Command": {
						"type": "string",
						"defaultValue": "Deallocate"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-443835289005244.4.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/3214e416-9a48-4db7-9745-1841230b18a4/resourceGroups/databricks-victor-bonnet/providers/Microsoft.Databricks/workspaces/databricksgreathouse",
					"existingClusterId": "0323-095502-ahqiikrv"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/learningPathTutorial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/victor.bonnet@avanade.com/12-Production-Workloads-with-Azure-Data-Factory/Record-Run",
							"baseParameters": {
								"ranBy": "ADF"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronzeToSilver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/victor.bonnet@avanade.com/databricks-victor-bonnet/greathouse_scala"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "silverToGold",
						"description": "will convert data from silver into data ready for insight analysis",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "bronzeToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/victor.bonnet@avanade.com/databricks-victor-bonnet/exploration"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		}
	]
}